/* src/styles/navbar.scss */

.NavigationContainer {
    // position: fixed;
    // left: 0;
    // top: 0;
    // height: 100vh;
    // width: 80px;
    // background-color: #ffffff;
    // box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05);
    // display: flex;
    // flex-direction: column;
    // z-index: 1000;
    // padding: 2px;
    width: 200px; /* or whatever width */
    background: #fff;
    height: 100vh;
    position: relative;

  }
  
  .PrimaryNav {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 65px;
    padding: 0.8rem; 
    background-color: #f8f9fb !important;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    padding: 2px;
  }
  
  .navbarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 8px;
    img {
      width: 65px;
      object-fit: contain;
      overflow-clip-margin: content-box;
        overflow: clip;
        overflow-x:
        overflow-y;
        }
  }
  
  .menuContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 15px;
    .MenuItem {
      display: flex;
      padding: 6px;
      flex-direction: column;
      align-items: center;
      gap: 4px;
      border-radius: 4px;
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      cursor: pointer;
      // color: #0a8394;
      transition: all 0.2s ease;
  
      svg {
        width: 24px;
        height: 24px;
        fill: #a3a6b7;
      }
  
      p {
        color: var(--Neutral-600, #A3A6B7);
        font-family: "Noto Sans";
        // font-size: 10px;
        // font-style: normal;
        // font-weight: 500;
        // line-height: normal;
        margin-top: 0.5rem;
        font-size: 0.8rem;
        font-weight: 400;
        text-align: center;
      }
  
      &:hover {
        svg {
          transform: scale(1.1);
          fill: #a3a6b7;
        }
  
        p {
          color: #a3a6b7;
        }
      }
    }
  
    .menuitem {
      font-size: 0.9rem;
      font-weight: 500;
      padding: 0.5rem 1rem;
      border-radius: 4px;
      color: #333;
      transition: all 0.2s ease;
      text-align: center;
  
      &:hover {
        background-color: #f5f5f5;
        color: #0a8394;
      }
    }
  }
  